# Flask==2.2.5
# Werkzeug==2.2.3
# opencv-python==4.7.0.72
# pandas==2.0.3
# scikit-learn==1.3.0
# matplotlib==3.7.2
# numpy==1.23.5
# tensorflow==2.12.0
# flask==2.3.3
# gdown
# opencv-python
# numpy
# pillow


# flask==2.3.3
# tensorflow==2.12.0
# opencv-python-headless
# numpy
# pillow
# gdown

flask
tensorflow-cpu
opencv-python-headless
numpy
pillow
gdown

